.footer{
  height: 25vh;
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(44, 43, 43);
}

.icons-box{
  width:60%;
  height:70%;
}

.icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.icons > li{
  display: inline-block;
}

i {
  font-size: 3em;
  margin: 30px;
  color: rgb(30, 221, 136);
}

.footer > p {
  color: rgb(93, 108, 93);
  margin-bottom:40px;
}
